.container {
    text-align: center;

}

.triptoparis {
    font-size: 4rem;
    font-weight: 900;
    margin: auto;
    text-align: center;
    width: 80%;
    position: relative;
}

.back-opt {
    padding: 25px 25px 25px 0;
    /* float: right; */
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.box-main {

    height: 400px;
    width: 400px;
    border: 2px solid olivedrab;
    border-radius: 0.5rem;
    margin: auto;
    box-shadow: 10px 10px 10px #0a0a0a29;
    text-align: center;
    margin: auto;
}

.completed2 {
    text-decoration: line-through;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: red;
}

.icon-style-2 {
    color: red;
    cursor: pointer;
    margin-top: 8rem;
    margin-left: 20rem;
    font-size: 2.5rem;
}

.box-item-add {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    width: 450px;
    height: 220px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px #0a0a0a29;
    border: 1px solid red;
    border-radius: 10px;
    margin: auto;
    padding: 1rem;
    backdrop-filter: blur(5px);
}

.subheading {
    text-align: center;
    color: red;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 600;

}

.new-item-input {
    margin: auto;
    text-align: center;
    height: 50px;
    width: 300px;
}

.input-box {
    margin-top: 1rem;
    height: 40px;
    width: 300px;
    box-shadow: 5px 5px 5px #0a0a0a29;
    border: 1px solid #e74c3c;
    border-radius: 0.5rem;
}

.add-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: red;
    border-radius: 1rem;
    color: white;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
.blur {
    filter: blur(8px);
}



